.interactive {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.bg {
  top: 0;
  z-index: 1;
}

.front {
  top: auto;
  bottom: 0;
  z-index: 3;
  transform: translateY(27%);
}

.character {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  height: 80%;
  transition: transform 0.15s ease-out;
}
